
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
    <ul class="navbar-nav">
            <a class="navbar-brand" href="/">Pays infos</a>
          
        <li class="nav-item">
          <a class="nav-link" href="/Acceuil" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Pays" >Pays</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" href="/Contients">Continents</a>
        </li>
    </ul>
</div>
</nav>